In [1]:
import pandas as pd
import numpy as np
from fastparquet import ParquetFile

In [2]:
fips = pd.read_csv("https://raw.githubusercontent.com/kjhealy/fips-codes/master/county_fips_master.csv", encoding="ISO-8859-1")

fips.head()

,fips,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
0,1001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
1,1003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
2,1005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
3,1007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
4,1009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central

In [3]:
opi_data = pd.read_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/opioid_whole.parquet", engine = 'fastparquet')

In [5]:
opi_data.sample(20)

        BUYER_COUNTY BUYER_STATE  year          MME
index
285    SAINT TAMMANY          LA  2013  305805.1500
297            GLYNN          GA  2011    6659.4000
20            BARTOW          GA  2008   27697.0500
101              LEE          FL  2010  601150.8375
42        HOOD RIVER          OR  2009   48113.5500
285      SPARTANBURG          SC  2008  310101.5400
69              CLAY          FL  2008   52501.3875
373           SUMTER          FL  2010  104218.1250
159     INDIAN RIVER          FL  2012    4389.1500
253           PUTNAM          FL  2012   88483.9500
56             BRYAN          GA  2012    4034.2500
1              AIKEN          SC  2007   20734.9500
462           MURRAY          GA  2012    1513.5000
150           ELMORE          AL  2008   87769.8750
409           WALKER          AL  2012    6054.0000
132         FRANKLIN          LA  2014   20432.2500
323         SEMINOLE          FL  2008   68394.4500
41         CHARLOTTE          FL  2012    6505.4250
178             POLK          FL  2009  148644.1125
308          JOHNSON          GA  2014    9919.5000