In [1]:
import pandas as pd
import numpy as np

In [2]:
# import data

opi = pd.read_parquet("/Users/yangshining/Desktop/pds2021-opioids-pds6/10_modified_data/opi_pop.parquet", engine='fastparquet')

deaths = pd.read_parquet("/Users/yangshining/Desktop/pds2021-opioids-pds6/15_re-modified_data/deaths_pop.parquet", engine='fastparquet')

pop = pd.read_parquet("/Users/yangshining/Desktop/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", engine='fastparquet')

In [3]:
opi.sample(10)

,BUYER_STATE,BUYER_COUNTY,fips,year,MME,Population,MME per cap,treatment
index,,,,,,,,
3509,MS,ADAMS,28001,2011,1.787342e+07,32435.0,551.053393,0
3389,LA,ST. JOHN THE BAPTIST,22095,2008,8.275880e+06,46811.0,176.793485,0
8443,WA,COLUMBIA,53013,2010,1.049822e+06,4078.0,257.435514,0
8611,WA,PEND OREILLE,53051,2007,9.200555e+06,12828.0,717.224433,0
4025,MS,PRENTISS,28117,2014,8.357923e+06,25405.0,328.987339,0
7798,TX,PANOLA,48365,2007,3.541726e+06,23351.0,151.673430,0
8294,TX,WILBARGER,48487,2014,6.312028e+06,12988.0,485.989209,0
6471,TX,BEXAR,48029,2009,3.007413e+08,1685628.0,178.414994,0
1987,GA,LONG,13183,2012,1.995948e+06,15994.0,124.793568,0
1540,GA,CRISP,13081,2009,6.552435e+06,23378.0,280.282123,0

In [4]:
deaths.sample(10)

,STNAME,CTYNAME,Year,Deaths,Population,fips,deaths_per_cap,state_pop_total,state_deaths_total,state_mortality_rate
index,,,,,,,,,,
13003,Texas,Kent County,2008,NaN,787.0,48263,0.000032,48618078.0,1539.0,0.000032
10930,Mississippi,Lincoln County,2006,NaN,34248.0,28085,0.000024,5809956.0,140.0,0.000024
3182,Florida,Indian River County,2006,23.0,131463.0,12061,0.000175,36333980.0,2534.0,0.000070
11376,Texas,Swisher County,2006,NaN,7901.0,48437,0.000038,46719160.0,1753.0,0.000038
5743,Florida,Putnam County,2004,10.0,72831.0,12107,0.000137,34830636.0,2057.0,0.000059
8954,Georgia,Hart County,2004,NaN,23966.0,13147,0.000020,17538504.0,352.0,0.000020
13429,Louisiana,St. Charles Parish,2009,NaN,52719.0,22089,0.000043,8983296.0,382.0,0.000043
17347,Florida,Gadsden County,2014,NaN,46114.0,12039,0.000063,39691822.0,2509.0,0.000063
14971,Georgia,Oconee County,2011,NaN,33264.0,13219,0.000034,19604862.0,665.0,0.000034
17215,Texas,Rockwall County,2013,NaN,84670.0,48397,0.000036,52960532.0,1885.0,0.000036

## Stats for Florida

In [5]:
opi["policy_year"] = np.where(opi["year"]<2010, 0, 1)

deaths["policy_year"] = np.where(deaths["Year"]<2010, 0, 1)

In [6]:
control_fl = ["GA", "SC", "AL", "MS"]
control_fl_d = ["Georgia", "South Carolina", "Alabama", "Mississippi"]

In [7]:
# Stats for control states before policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  1.385000e+03      1385.00
mean   1.887056e+07       277.68
std    3.410423e+07       172.43
min    3.027000e+02         0.10
25%    2.980116e+06       158.53
50%    7.448286e+06       247.89
75%    2.084782e+07       363.04
max    5.121900e+08      1476.92

In [8]:
deaths[(deaths["STNAME"].isin(control_fl_d)) & (deaths["policy_year"]==0)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count  323.000000     2506.000000
mean    23.708978        0.000037
std     18.954395        0.000045
min     10.000000        0.000011
25%     12.000000        0.000017
50%     16.000000        0.000023
75%     28.000000        0.000033
max    129.000000        0.000474

In [9]:
# Stats for control states after policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  1.727000e+03      1727.00
mean   2.883168e+07       418.29
std    5.364203e+07       250.84
min    2.662020e+04         3.89
25%    4.615383e+06       246.29
50%    1.141191e+07       371.01
75%    3.072429e+07       537.94
max    6.893013e+08      2624.69

In [10]:
deaths[(deaths["STNAME"].isin(control_fl_d)) & (deaths["policy_year"]==1)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count  399.000000     2148.000000
mean    26.774436        0.000056
std     24.513236        0.000056
min     10.000000        0.000017
25%     12.000000        0.000032
50%     19.000000        0.000040
75%     30.000000        0.000057
max    210.000000        0.000526

In [11]:
# Stats for Florida before policy year
np.round(opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  2.650000e+02       265.00
mean   1.673085e+08       442.28
std    3.536809e+08       277.77
min    6.284498e+05        78.45
25%    8.481539e+06       239.75
50%    4.551490e+07       388.04
75%    1.502056e+08       557.57
max    2.584508e+09      1749.64

In [12]:
deaths[(deaths["STNAME"]=="Florida") & (deaths["policy_year"]==0)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count  238.000000      476.000000
mean    70.550420        0.000106
std     75.305367        0.000059
min     10.000000        0.000039
25%     17.000000        0.000064
50%     34.000000        0.000075
75%    100.250000        0.000140
max    326.000000        0.000359

In [13]:
# Stats for Florida after policy year
np.round(opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  3.350000e+02       335.00
mean   1.764324e+08       530.54
std    3.407097e+08       327.70
min    6.762371e+05        71.43
25%    1.063486e+07       315.91
50%    6.037037e+07       452.16
75%    1.781504e+08       662.82
max    3.026737e+09      2279.13

In [14]:
deaths[(deaths["STNAME"]=="Florida") & (deaths["policy_year"]==1)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count  220.000000      408.000000
mean    70.763636        0.000111
std     70.669070        0.000062
min     10.000000        0.000039
25%     18.000000        0.000063
50%     38.000000        0.000075
75%    105.250000        0.000145
max    317.000000        0.000408

In [15]:
# difference in means

# before policy
diff1 = (
    opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"] == 0)]["MME per cap"].mean()
    - opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"] == 0)][
        "MME per cap"
    ].mean()
)

# after policy
diff2 = (
    opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"] == 1)]["MME per cap"].mean()
    - opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"] == 1)][
        "MME per cap"
    ].mean()
)

print(diff1, diff2)

164.5989216943036 112.25891422475195

In [16]:
# difference in means

# change of control before and after policy
diff1 = (
    opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"] == 1)]["MME per cap"].mean()
    - opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"] == 0)][
        "MME per cap"
    ].mean()
)

# change of Florida before and after policy
diff2 = (
    opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"] == 1)]["MME per cap"].mean()
    - opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"] == 0)]["MME per cap"].mean()
)

print(diff1, diff2)

140.6062701222408 88.26626265268914

In [17]:
np.round(opi["MME per cap"].describe(), 2).T[['count','mean', 'std', 'min', 'max']]

count    8727.00
mean      326.72
std       216.39
min         0.01
max      2624.69
Name: MME per cap, dtype: float64

## Stats for Texas

In [18]:
opi["policy_year"] = np.where(opi["year"]<2007, 0, 1)
deaths["policy_year"] = np.where(deaths["Year"]<2007, 0, 1)

In [19]:
control_tx = ["LA", "NM", "OK"]

control_tx_d = ["Louisiana", "New Mexico", "Oklahoma"]

In [20]:
# Stats for control states before policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_tx)) & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe(),2)

                MME  MME per cap
count  1.690000e+02       169.00
mean   1.921541e+07       260.79
std    4.409914e+07       134.60
min    1.029180e+05        22.16
25%    2.837142e+06       157.64
50%    6.338894e+06       241.25
75%    1.588303e+07       347.44
max    3.132169e+08       818.31

In [21]:
deaths[(deaths["STNAME"].isin(control_tx_d)) & (deaths["policy_year"]==0)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count  110.000000      708.000000
mean    35.209091        0.000068
std     36.059099        0.000062
min     10.000000        0.000027
25%     15.000000        0.000036
50%     19.000000        0.000045
75%     36.500000        0.000068
max    171.000000        0.000471

In [22]:
# Stats for control states after policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_tx)) & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  1.352000e+03      1352.00
mean   2.752493e+07       381.34
std    6.045824e+07       195.60
min    1.344750e+03         0.33
25%    3.964450e+06       230.61
50%    1.059112e+07       363.07
75%    2.540337e+07       504.31
max    5.370146e+08      1429.45

In [23]:
deaths[(deaths["STNAME"].isin(control_tx_d)) & (deaths["policy_year"]==1)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count  352.000000     1593.000000
mean    32.667614        0.000092
std     39.239716        0.000078
min     10.000000        0.000041
25%     13.000000        0.000056
50%     17.000000        0.000064
75%     30.000000        0.000093
max    219.000000        0.000981

In [24]:
# Stats for TX before policy

opi[(opi["BUYER_STATE"]=="TX") & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe()

                MME  MME per cap
count  2.290000e+02   229.000000
mean   1.744856e+07   151.888783
std    7.144356e+07   100.528394
min    3.027000e+02     0.039631
25%    1.043502e+06    80.239362
50%    2.834460e+06   139.335802
75%    1.008127e+07   202.529599
max    9.272859e+08   711.416525

In [25]:
deaths[(deaths["STNAME"]=="Texas") & (deaths["policy_year"]==0)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count  112.000000     1020.000000
mean    52.857143        0.000040
std     81.994820        0.000031
min     10.000000        0.000014
25%     12.000000        0.000030
50%     18.000000        0.000033
75%     41.750000        0.000038
max    427.000000        0.000427

In [26]:
# Stats for TX after policy year

opi[(opi["BUYER_STATE"]=="TX") & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe()

                MME  MME per cap
count  1.808000e+03  1808.000000
mean   2.366180e+07   204.323492
std    8.276436e+07   113.839912
min    6.054000e+01     0.034227
25%    1.422733e+06   117.428574
50%    4.025854e+06   195.156085
75%    1.463076e+07   268.273036
max    1.161009e+09   799.206779

In [27]:
deaths[(deaths["STNAME"]=="Texas") & (deaths["policy_year"]==1)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count  320.000000     2295.000000
mean    52.412500        0.000046
std     84.212888        0.000030
min     10.000000        0.000018
25%     13.000000        0.000036
50%     20.000000        0.000037
75%     43.000000        0.000038
max    528.000000        0.000355

## Stats for Washington

In [28]:
control_wa = ["MT", "ID", "OR"]

control_wa_d = ["Montana", "Idaho", "Oregon"]

In [29]:
opi["policy_year"] = np.where(opi["year"]<2012, 0, 1)

deaths["policy_year"] = np.where(deaths["Year"]<2012, 0, 1)

In [30]:
# Stats for control states before policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_wa)) & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  7.350000e+02       735.00
mean   1.940275e+07       294.49
std    4.455307e+07       175.38
min    2.179400e+02         0.06
25%    1.381474e+06       161.13
50%    3.531169e+06       271.24
75%    1.704808e+07       399.94
max    3.927903e+08       950.29

In [31]:
deaths[(deaths["STNAME"].isin(control_wa_d)) & (deaths["policy_year"]==0)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count  102.000000     1251.000000
mean    34.519608        0.000027
std     39.938004        0.000033
min     10.000000        0.000000
25%     12.250000        0.000008
50%     21.000000        0.000017
75%     34.750000        0.000039
max    178.000000        0.000323

In [32]:
# Stats for control states after policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_wa)) & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  3.710000e+02       371.00
mean   2.304886e+07       375.51
std    4.723508e+07       199.36
min    1.816000e+01         0.01
25%    2.088162e+06       238.15
50%    4.677242e+06       356.72
75%    2.012728e+07       493.29
max    3.336373e+08      1002.28

In [33]:
deaths[(deaths["STNAME"].isin(control_wa_d)) & (deaths["policy_year"]==1)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count   66.000000      556.000000
mean    31.045455        0.000042
std     32.704472        0.000038
min     10.000000        0.000018
25%     12.000000        0.000020
50%     19.500000        0.000031
75%     40.250000        0.000044
max    147.000000        0.000307

In [34]:
# Stats for WA before policy

np.round(opi[(opi["BUYER_STATE"]=="WA") & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  2.340000e+02       234.00
mean   6.086865e+07       360.97
std    1.142351e+08       157.18
min    7.610585e+05       101.38
25%    6.925937e+06       246.72
50%    1.878132e+07       327.28
75%    5.064522e+07       449.57
max    6.469564e+08       878.91

In [35]:
deaths[(deaths["STNAME"]=="Washington") & (deaths["policy_year"]==0)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count  134.000000      360.000000
mean    50.485075        0.000086
std     63.273928        0.000049
min     10.000000        0.000043
25%     13.250000        0.000056
50%     19.000000        0.000063
75%     72.750000        0.000102
max    274.000000        0.000307

In [36]:
# Stats for WA after policy year

np.round(opi[(opi["BUYER_STATE"]=="WA") & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  1.170000e+02       117.00
mean   6.271767e+07       387.44
std    1.126149e+08       150.61
min    8.725554e+05       147.81
25%    8.001651e+06       288.27
50%    2.140620e+07       349.98
75%    6.017888e+07       450.76
max    6.113527e+08       809.33

In [37]:
deaths[(deaths["STNAME"]=="Washington") & (deaths["policy_year"]==1)][["Deaths", "deaths_per_cap"]].describe()

           Deaths  deaths_per_cap
count   64.000000      160.000000
mean    54.171875        0.000093
std     72.524666        0.000048
min     10.000000        0.000057
25%     14.000000        0.000060
50%     21.000000        0.000067
75%     59.750000        0.000129
max    309.000000        0.000231