In [2]:
# Load packages
import pandas as pd
import numpy as np
import fastparquet

In [3]:
# Don't run this!!!
pop_data = pd.read_csv("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/Mid-sem Project/pop_data.csv", encoding='latin-1')
 # drop columns that aren't relevant
pop_data = pop_data.drop(columns = ["SUMLEV", "REGION", "DIVISION", "ESTIMATESBASE2000", "POPESTIMATE2000", 
"POPESTIMATE2001", "POPESTIMATE2002", "POPESTIMATE2010"])
pop_data.head()

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP
0,1,0,Alabama,Alabama,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4779736
1,1,1,Alabama,Autauga County,46800,48366,49676,51328,52405,53277,54135,54571
2,1,3,Alabama,Baldwin County,151509,156266,162183,168121,172404,175827,179406,182265
3,1,5,Alabama,Barbour County,28594,28287,28027,27861,27757,27808,27657,27457
4,1,7,Alabama,Bibb County,21399,21721,22042,22099,22438,22705,22941,22915

In [4]:
# Don't run this!!!
# Reading in pop data after 2010
pop_data_2 = pd.read_csv("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/Mid-sem Project/pop_data_2.csv", encoding='latin-1')
pop_data_2 = pop_data_2[["STNAME", "CTYNAME", "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013", "POPESTIMATE2014", "POPESTIMATE2015"]]

pop_data_2.head()

,STNAME,CTYNAME,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,Alabama,Alabama,4799069,4815588,4830081,4841799,4852347
1,Alabama,Autauga County,55227,54954,54727,54893,54864
2,Alabama,Baldwin County,186558,190145,194885,199183,202939
3,Alabama,Barbour County,27341,27169,26937,26755,26283
4,Alabama,Bibb County,22745,22667,22521,22553,22566

In [5]:
# Don't run this!!!
# Merging both datasets to have complete pop data

pop_merged = pd.merge(left = pop_data, right = pop_data_2)

In [6]:
# Don't run this!!!
# save file as parquet
pop_merged.to_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", 
engine = 'fastparquet')

In [7]:
# RUN FROM HERE
# Read in parquet data
#population = pd.read_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", engine = 'fastparquet')

population = pd.read_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", engine = 'fastparquet')

In [8]:
population.sample(15)

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
index,,,,,,,,,,,,,,,,,
2186,40,39,Oklahoma,Custer County,25554,25631,25876,26148,26356,26816,27284,27469,27796,28590,29310,29509,29565
1863,36,7,New York,Broome County,201037,200974,200477,200905,200877,201029,200935,200600,199363,198667,197914,197251,195928
1517,29,19,Missouri,Boone County,143019,145348,148786,152784,155666,158089,160565,162642,166257,168807,170975,172799,174404
2894,51,61,Virginia,Fauquier County,59863,61319,62686,63761,64122,64558,64907,65203,66032,66561,67139,68116,68423
3129,55,69,Wisconsin,Lincoln County,29621,29666,29602,29457,29272,29094,28833,28743,28505,28502,28305,28108,27867
2340,42,117,Pennsylvania,Tioga County,41676,41724,41579,41347,41371,41609,41818,41981,42242,42451,42211,41899,41519
2138,39,121,Ohio,Noble County,14221,14352,14210,14616,14614,14653,14649,14645,14752,14677,14678,14532,14467
1466,28,83,Mississippi,Leflore County,34516,34863,34178,33862,33540,33329,32508,32317,32065,30793,30746,30707,30241
391,12,123,Florida,Taylor County,20011,20093,20515,20793,21805,22356,22482,22570,22662,22758,22873,22584,22355
1769,31,177,Nebraska,Washington County,19510,19589,19861,20056,20203,20101,20124,20234,19918,19949,19851,19930,19917
3120,55,51,Wisconsin,Iron County,6598,6508,6411,6236,6170,6101,5966,5916,5959,5888,5829,5861,5727
1090,21,159,Kentucky,Martin County,12778,13138,13536,13371,13224,13160,13040,12929,12829,12725,12651,12494,12285
2851,50,3,Vermont,Bennington County,37083,37062,36960,37127,37077,37168,37151,37125,36813,36610,36534,36167,36153
374,12,89,Florida,Nassau County,62069,63699,65568,67823,69969,71557,72671,73314,74148,74519,75384,76250,77951
837,19,65,Iowa,Fayette County,21604,21415,21426,21265,21005,20910,20939,20880,20976,20774,20519,20290,20142

In [9]:
#Rename columns

population.rename(columns = {'CENSUS2010POP': 'POPESTIMATE2010'}, inplace=True)

In [10]:
for col in population.columns:
    if col[:3] == "POP":
        population.rename(columns={col: col[-4:]}, inplace= True)

population.columns

Index(['STATE', 'COUNTY', 'STNAME', 'CTYNAME', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [11]:
# melt the population fields
melted_pop = pd.melt(population, ["STATE", "COUNTY", "STNAME", "CTYNAME"])



# rename FIPS and Year Columns 

melted_pop.rename(columns = {"variable" : "Year", "value": "Population"}, inplace = True)

melted_pop.sample(14)

       STATE  COUNTY        STNAME           CTYNAME  Year  Population
12934      5     115      Arkansas       Pope County  2007       59793
30609     36      61      New York   New York County  2012     1623911
21182     38      25  North Dakota       Dunn County  2009        3513
20303     22      51     Louisiana  Jefferson Parish  2009      431921
15411     48     165         Texas     Gaines County  2007       16187
31426     48     285         Texas     Lavaca County  2012       19528
5349      39     161          Ohio   Van Wert County  2004       29322
9133      48     373         Texas       Polk County  2005       45472
27183     30      63       Montana   Missoula County  2011      110245
14035     26      37      Michigan    Clinton County  2007       73740
37435     42     105  Pennsylvania     Potter County  2014       17192
33645     31     109      Nebraska  Lancaster County  2013      297109
37424     42      83  Pennsylvania     McKean County  2014       42643
26579     21      81      Kentucky      Grant County  2011       24765

In [20]:
## Adding FIPS Code to Population
melted_pop['STATE'] = melted_pop['STATE'].astype(str)
melted_pop['STATE1'] = melted_pop['STATE'].apply(lambda x: x.zfill(2))

melted_pop['COUNTY'] = melted_pop['COUNTY'].astype(str)
melted_pop['COUNTY1'] = melted_pop['COUNTY'].apply(lambda x: x.zfill(3))

melted_pop['fips'] = melted_pop['STATE1'] + melted_pop['COUNTY1']

melted_pop.head()

,STATE,COUNTY,STNAME,CTYNAME,Year,Population,STATE1,COUNTY1,fips
0,1,0,Alabama,Alabama,2003,4503491,01,000,01000
1,1,1,Alabama,Autauga County,2003,46800,01,001,01001
2,1,3,Alabama,Baldwin County,2003,151509,01,003,01003
3,1,5,Alabama,Barbour County,2003,28594,01,005,01005
4,1,7,Alabama,Bibb County,2003,21399,01,007,01007

In [18]:
## Save to parquet the cleaned file

melted_pop.to_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", 
engine = 'fastparquet')